.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px !important;
}

.toast-container {
    top: 1rem;
    right: 1rem;
    z-index: 1060;
}

.in-profit{
    color: #00f200;
}

.in-loss{
    color: #ea0101;
}
